In [21]:
import os
import numpy as np
import pandas as pd
from tqdm import tqdm

import config as CONGIG

In [9]:

df_address = pd.read_csv(os.path.join(CONGIG.PATH_RAW, "competition/address_log_round1_a_train.csv"))
df_tag = pd.read_csv(os.path.join(CONGIG.PATH_RAW, "competition/failure_tag_round1_a_train.csv"))

In [16]:

address_df = df_address
tag_df = df_tag

In [17]:


address_df.head()

,serial_number,memory,rankid,bankid,row,col,collect_time,manufacturer,vendor
0,server_30613,6,0,15,48835,144,2019-01-01 19:50:32,0.0,0.0
1,server_43073,8,0,15,74171,608,2019-01-01 01:31:23,1.0,1.0
2,server_1,4,1,1,112685,432,2019-01-01 00:18:15,2.0,0.0
3,server_1,4,1,1,112685,432,2019-01-01 02:21:42,2.0,0.0
4,server_1,4,1,1,112685,432,2019-01-01 05:09:55,2.0,0.0

In [18]:
hosts = address_df["serial_number"].drop_duplicates().to_list()

In [14]:
len(hosts)

17401

In [19]:
tag_df.head()

  serial_number         failure_time  tag  manufacturer  vendor
0   server_1789  2019-02-04 20:03:04    0             0       0
1  server_13003  2019-03-03 16:11:54    0             0       0
2  server_15764  2019-04-11 08:23:44    0             0       0
3  server_27567  2019-03-30 17:36:08    0             0       0
4  server_33559  2019-03-19 07:01:24    0             0       0

In [34]:
tag_df_simplicated = tag_df[["serial_number", "failure_time"]]
hosts = address_df["serial_number"].drop_duplicates().to_list()
    
chunk = 30
chunk_size = len(hosts) // chunk
idx = 0
for i in tqdm(range(0, len(hosts), chunk_size)):
    host_chunk = hosts[i:i+chunk_size]
    address_chunk_df = address_df[address_df["serial_number"].isin(host_chunk)]
    address_chunk_df = pd.merge(address_chunk_df, tag_df_simplicated, on="serial_number", how="left")
    address_chunk_df["failure_time"].fillna("2023-01-01 00:00:00", inplace=True)
    # print(address_chunk_df.head(5))
    # print(len(address_chunk_df[address_chunk_df["failure_time"]!="2023-01-01 00:00:00"]))
    # break
    
    address_chunk_df["label"] = 1
    address_chunk_df.loc[address_chunk_df["failure_time"]=="2023-01-01 00:00:00", "label"] = -1
    
    print(len(address_chunk_df[address_chunk_df["label"]==1]))
    
    address_chunk_df.to_csv(os.path.join(CONGIG.PATH_RAW, f"competition/seg/mcelog_{idx}.csv"))
    idx += 1

  0%|                                                                                                                                              | 0/31 [00:00<?, ?it/s]

0

  3%|████▎                                                                                                                                 | 1/31 [00:47<23:52, 47.73s/it]

0

  6%|████████▋                                                                                                                             | 2/31 [00:50<10:08, 20.99s/it]

0

 10%|████████████▉                                                                                                                         | 3/31 [00:51<05:39, 12.12s/it]

0

 13%|█████████████████▎                                                                                                                    | 4/31 [00:53<03:40,  8.16s/it]

0

 16%|█████████████████████▌                                                                                                                | 5/31 [00:55<02:31,  5.81s/it]

0

 19%|█████████████████████████▉                                                                                                            | 6/31 [00:56<01:48,  4.32s/it]

0

 23%|██████████████████████████████▎                                                                                                       | 7/31 [00:57<01:18,  3.26s/it]

0

 26%|██████████████████████████████████▌                                                                                                   | 8/31 [00:59<01:03,  2.75s/it]

0

 29%|██████████████████████████████████████▉                                                                                               | 9/31 [01:01<00:56,  2.55s/it]

0

 32%|██████████████████████████████████████████▉                                                                                          | 10/31 [01:03<00:46,  2.21s/it]

0

 35%|███████████████████████████████████████████████▏                                                                                     | 11/31 [01:06<00:49,  2.46s/it]

0

 39%|███████████████████████████████████████████████████▍                                                                                 | 12/31 [01:08<00:45,  2.38s/it]

0

 42%|███████████████████████████████████████████████████████▊                                                                             | 13/31 [01:09<00:35,  1.99s/it]

0

 45%|████████████████████████████████████████████████████████████                                                                         | 14/31 [01:10<00:30,  1.79s/it]

0

 48%|████████████████████████████████████████████████████████████████▎                                                                    | 15/31 [01:13<00:31,  1.98s/it]

0

 52%|████████████████████████████████████████████████████████████████████▋                                                                | 16/31 [01:14<00:28,  1.90s/it]

0

 55%|████████████████████████████████████████████████████████████████████████▉                                                            | 17/31 [01:16<00:26,  1.89s/it]

0

 58%|█████████████████████████████████████████████████████████████████████████████▏                                                       | 18/31 [01:18<00:23,  1.81s/it]

0

 61%|█████████████████████████████████████████████████████████████████████████████████▌                                                   | 19/31 [01:58<02:38, 13.22s/it]

0

 65%|█████████████████████████████████████████████████████████████████████████████████████▊                                               | 20/31 [02:01<01:53, 10.36s/it]

0

 68%|██████████████████████████████████████████████████████████████████████████████████████████                                           | 21/31 [02:03<01:17,  7.76s/it]

0

 71%|██████████████████████████████████████████████████████████████████████████████████████████████▍                                      | 22/31 [02:05<00:53,  5.92s/it]

0

 74%|██████████████████████████████████████████████████████████████████████████████████████████████████▋                                  | 23/31 [02:06<00:36,  4.51s/it]

0

 77%|██████████████████████████████████████████████████████████████████████████████████████████████████████▉                              | 24/31 [02:08<00:25,  3.70s/it]

0

 81%|███████████████████████████████████████████████████████████████████████████████████████████████████████████▎                         | 25/31 [02:09<00:18,  3.04s/it]

0

 84%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████▌                     | 26/31 [02:11<00:12,  2.54s/it]

0

 87%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████▊                 | 27/31 [02:12<00:09,  2.33s/it]

0

 90%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▏            | 28/31 [02:14<00:06,  2.21s/it]

573425

 94%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▍        | 29/31 [02:18<00:05,  2.66s/it]

314760

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 31/31 [02:21<00:00,  4.55s/it]

0

In [36]:
address_chunk_df.head(5)

,serial_number,memory,rankid,bankid,row,col,collect_time,manufacturer,vendor,failure_time,label
0,server_59786,-1,-1,-1,-1,-1,2019-05-31 19:20:01,0.0,2.0,2023-01-01 00:00:00,-1